.bordered {
  border: 2px dashed red;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.carousel-container {
  position: relative;
  height: 100%;

  height: 500px;
  width: 1000px;
}

.carousel-container:hover .hover-container {
  display: block;
}

.slides-container {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;

  display: none;
}

.active {
  display: block;
}

.next-slide,
.prev-slide {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);

  width: 25px;
  height: 25px;
  line-height: 25px;

  background-color: antiquewhite;
  border-radius: 50%;
  font-size: 1rem;

  text-align: center;

  cursor: pointer;
}

.next-slide {
  bottom: 10px;
}

.prev-slide {
  top: 10px;
}

.hover-container {
  height: 100%;
  width: 30%;

  position: absolute;

  top: 0;
  right: 0;

  display: none;
}

.thumb-container {
  height: 100%;
}

.thumb-image {
  width: 100%;
  height: 20%;

  object-fit: cover;

  filter: brightness(40%);
}

.thumb-active {
  filter: brightness(100%);
}
